<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="aruco_marker" params="marker_id marker_size parent *origin">
    <joint name="aruco_marker_${marker_id}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="aruco_marker_${marker_id}_link"/>
    </joint>

    <link name="aruco_marker_${marker_id}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.001 ${marker_size} ${marker_size}"/>
        </geometry>
        <material name="aruco_marker_${marker_id}_material">
          <color rgba="0.9 0.9 0.9 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.001 ${marker_size} ${marker_size}"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.001"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001" />
      </inertial>
    </link>

    <!-- Gazebo specific properties -->
    <gazebo reference="aruco_marker_${marker_id}_link">
      <material>Gazebo/White</material>
      <plugin name="aruco_marker_${marker_id}" filename="libgazebo_ros_aruco_marker.so">
        <marker_id>${marker_id}</marker_id>
        <marker_size>${marker_size}</marker_size>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>