<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="realsense_d435" params="camera_name parent *origin">
    <!-- Define constants -->
    <xacro:property name="M_PI" value="3.1415926535897931" />
    
    <!-- Camera body properties -->
    <xacro:property name="camera_width" value="0.090"/>
    <xacro:property name="camera_height" value="0.025"/>
    <xacro:property name="camera_depth" value="0.025"/>
    <xacro:property name="camera_mass" value="0.072"/>

    <!-- Camera joint and link -->
    <joint name="${camera_name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${camera_name}_link"/>
    </joint>

    <link name="${camera_name}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${camera_depth} ${camera_width} ${camera_height}"/>
        </geometry>
        <material name="${camera_name}_material">
          <color rgba="0.1 0.1 0.1 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${camera_depth} ${camera_width} ${camera_height}"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="${camera_mass}"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
      </inertial>
    </link>

    <!-- RGB Camera -->
    <joint name="${camera_name}_rgb_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${camera_name}_link"/>
      <child link="${camera_name}_rgb_frame"/>
    </joint>
    
    <link name="${camera_name}_rgb_frame"/>

    <joint name="${camera_name}_rgb_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="-${M_PI/2} 0 -${M_PI/2}"/>
      <parent link="${camera_name}_rgb_frame"/>
      <child link="${camera_name}_rgb_optical_frame"/>
    </joint>
    
    <link name="${camera_name}_rgb_optical_frame"/>

    <!-- Depth Camera -->
    <joint name="${camera_name}_depth_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${camera_name}_link"/>
      <child link="${camera_name}_depth_frame"/>
    </joint>
    
    <link name="${camera_name}_depth_frame"/>

    <joint name="${camera_name}_depth_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="-${M_PI/2} 0 -${M_PI/2}"/>
      <parent link="${camera_name}_depth_frame"/>
      <child link="${camera_name}_depth_optical_frame"/>
    </joint>
    
    <link name="${camera_name}_depth_optical_frame"/>

    <!-- RealSense Gazebo Plugin -->
    <gazebo reference="${camera_name}_link">
      <sensor type="depth" name="${camera_name}">
        <always_on>true</always_on>
        <update_rate>30.0</update_rate>
        <camera>
          <horizontal_fov>${87.0*M_PI/180.0}</horizontal_fov>
          <image>
            <format>R8G8B8</format>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.01</near>
            <far>10.0</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="${camera_name}_controller" filename="libgazebo_ros_openni_kinect.so">
          <baseline>0.2</baseline>
          <alwaysOn>true</alwaysOn>
          <updateRate>30.0</updateRate>
          <cameraName>${camera_name}</cameraName>
          <imageTopicName>rgb/image_raw</imageTopicName>
          <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
          <depthImageTopicName>depth/image_raw</depthImageTopicName>
          <depthImageInfoTopicName>depth/camera_info</depthImageInfoTopicName>
          <pointCloudTopicName>depth/points</pointCloudTopicName>
          <frameName>${camera_name}_depth_optical_frame</frameName>
          <pointCloudCutoff>0.1</pointCloudCutoff>
          <pointCloudCutoffMax>8.0</pointCloudCutoffMax>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
          <CxPrime>0</CxPrime>
          <Cx>0</Cx>
          <Cy>0</Cy>
          <focalLength>0</focalLength>
          <hackBaseline>0</hackBaseline>
        </plugin>
      </sensor>
      <material>Gazebo/Black</material>
    </gazebo>
  </xacro:macro>
</robot>